@using System.Net.Sockets
@using PagedList.Mvc;
    
@model JobsPortal.ViewModels.SearchJobOfferViewModel


<!-- Tabela z ofertami pracy -->
<section class="content">
    <div class="container text-center">
        <div class="col-md-12">       

            @Html.Partial("~/Views/Home/_MainSearchPartial.cshtml", Model.MainSearchConsoleViewModel)
        
        </div><!-- banner-form -->
    </div>

    <div class="container">
 
        <div>
            <div class="col-md-3 col-sm-2">
                @Html.Partial("_ColumnSearchConsolePartial", Model.ColumnSearchConsoleViewModel)
            </div>
            
            <div class="col-sm-7 col-md-8">

                @foreach (var item in Model.JobOfferViewModel)
                {
                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class="title">@item.Title</a><a href="#">@item.Company</a></span>
                                <div class="ad-meta" style="font-size:">
                                    <ul>
                                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>@item.City, @item.Country </li>                                        
                                        <li><i class="fa fa-money" aria-hidden="true"></i>@item.SalaryMin - @item.SalaryMax</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.DateTo.Day.@item.DateTo.Month.@item.DateTo.Year</li>

                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                @Html.ActionLink("Aplikuj", "Details", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->
                }

                <br />
                <br />
             
  
               Page @(Model.JobOfferViewModel.PageCount < Model.JobOfferViewModel.PageNumber ? 0 : Model.JobOfferViewModel.PageCount) of @Model.JobOfferViewModel.PageCount  
             
               @if (Model.SearchType == "HomeSearch")
               {
                   @Html.PagedListPager(Model.JobOfferViewModel, page => Url.Action(Model.SearchType, new {page, }))
               }           

                @if (Model.SearchType == "ColumnSearch")
                {                 
                    
                    @Html.PagedListPager(Model.JobOfferViewModel, page => Url.Action(Model.SearchType,new { page, }))
                }
            
            </div><!-- trending ads -->
        </div>
    </div>


</section>
<!-- Koniec tabeli z ofertami pracy -->
<section class="bgnd bgnd-3 js-parallax-bg">
    <div class="va-wrapper">
        <div class="va-container">
            <div class="container text-center">
                <h1>Lorem ipsum dolor</h1>
                <h2>Sed eget orci nec diam suscipit</h2>
                <h3>Donec fermentum justo in quam aliquet</h3>
            </div>
        </div>
    </div>
</section>

@section scripts
{
@Scripts.Render("~/bundles/homeIndex")
   <script type="text/javascript">
        $(function (){
            $("#cityInput").autocomplete({
                source : '@Url.Action("CitySuggest", "Home")'

            });
       });

       $(function () {
           $("#slider-range").slider({
               range: true,
               min: 0,
               max: 20000,
               values: [75, 300],
               slide: function (event, ui) {
                   $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
               }
           });
           $("#amount").val("$" + $("#slider-range").slider("values", 0) +
               " - $" + $("#slider-range").slider("values", 1));
       });

    </script>

}
