@using System.Net.Sockets
@model JobsPortal.ViewModels.SearchJobOfferViewModel


<!-- Tabela z ofertami pracy -->
<section class="content">
    <div class="container">
        <div class="">
            
            @using (Html.BeginForm("JobSearch", "JobOffer", FormMethod.Get, new{@class = "form-group row banner-form banner-form-full job-list-form col-xs-12" }))
            {
                <!-- category-change -->
                    @Html.DropDownListFor(m => m.SearchConsoleViewModel.selectedCategory, new SelectList(Model.SearchConsoleViewModel.JobCategoriesViewModel, "Id", "Name"), "Wybierz kategorie", new { @class = "dropdown category-dropdown col-xs-3" })
               <!--category-change -->
                <!-- language-dropdown -->
              
                  <!--  <input type="text" class="form-control" placeholder="Miasto" id="cityInput"> -->
                    <div class="col-xs-2">
                          @Html.TextBoxFor(m => m.SearchConsoleViewModel.citySearch, new { @class = "form-control col-xs-3", id = "cityInput" })
                   </div>
                    <div class="col-xs-2">
                          @Html.TextBoxFor(m => m.SearchConsoleViewModel.phraseSearch, new { @class = "form-control col-xs-3" })
                    </div>


                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                    }
                </div><!-- banner-form -->
        <div class="section latest-jobs-ads">

            @foreach (var item in Model.JobOfferViewModel)
            {
                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class=title>@item.Title</a><a href="#">@item.Company</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>@item.City, @item.Country </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>@item.SalaryMin - @item.SalaryMax</a></li>

                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            @Html.ActionLink("Aplikuj", "Details", "JobOffer", new {id = item.Id}, new {@class = "btn btn-primary"})
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            }





        </div><!-- trending ads -->
    </div>
</section>
<!-- Koniec tabeli z ofertami pracy -->
<section class="bgnd bgnd-3 js-parallax-bg">
    <div class="va-wrapper">
        <div class="va-container">
            <div class="container text-center">
                <h1>Lorem ipsum dolor</h1>
                <h2>Sed eget orci nec diam suscipit</h2>
                <h3>Donec fermentum justo in quam aliquet</h3>
            </div>
        </div>
    </div>
</section>

@section scripts
{
@Scripts.Render("~/bundles/homeIndex")
   <script type="text/javascript">
        $(function (){
            $("#cityInput").autocomplete({
                source : '@Url.Action("CitySuggest", "Home")'

            });
        });

    </script>

}
