@using System.Net.Sockets
@using PagedList.Mvc;
    
@model JobsPortal.ViewModels.SearchJobOfferViewModel


<!-- Tabela z ofertami pracy -->
<section class="content">
    <div class="container text-center">
        <div class="col-md-12">

         @using (Html.BeginForm("JobSearch", "JobOffer", FormMethod.Post ))
            {
                <div class="form-inline col-md-12">


                    <!-- category-change -->
                 
                   
                    
                        @Html.TextBoxFor(m => m.IndexSearchJobOfferViewModel.CitySearch, new {@class = "form-control",  id = "cityInput" })
                    
                  
                        @Html.TextBoxFor(m => m.IndexSearchJobOfferViewModel.PhraseSearch, new { @class = "form-control" })
                   


                    <button type="submit" class="btn btn-primary" value="Search">Search</button>

                </div>
            } 
        </div><!-- banner-form -->
    </div>

    <div class="container">
 
        <div class="section latest-jobs-ads">
            <div class="col-md-3 col-sm-4">
                @Html.Partial("_ColumnSearchConsolePartial", Model.ColumnSearchConsoleViewModel);
            </div>
            
            <div class="col-sm-7 col-md-8">

                @foreach (var item in Model.JobOfferViewModel)
                {
                    <div class="job-ad-item">
                        <div class="item-info">
                            <div class="item-image-box">
                                <div class="item-image">
                                    <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                                </div><!-- item-image -->
                            </div>

                            <div class="ad-info">
                                <span><a href="job-details.html" class= title>@item.Title</a><a href="#">@item.Company</a></span>
                                <div class="ad-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>@item.City, @item.Country </a></li>
                                        <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                        <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>@item.SalaryMin - @item.SalaryMax</a></li>

                                    </ul>
                                </div><!-- ad-meta -->
                            </div><!-- ad-info -->
                            <div class="button">
                                @Html.ActionLink("Aplikuj", "Details", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </div>
                        </div><!-- item-info -->
                    </div><!-- ad-item -->
                }

                <br />
                <br />
               @* Page @(Model.JobOfferViewModel.PageCount < Model.JobOfferViewModel.PageNumber ? 0 : Model.JobOfferViewModel.PageCount) of @Model.JobOfferViewModel.PageCount  

                @Html.PagedListPager(Model.JobOfferViewModel, page => Url.Action("JobSearchOverload",
                    new
                    {
                        page,
                        city = Model.IndexSearchJobOfferViewModel.CitySearch,
                        phrase = Model.IndexSearchJobOfferViewModel.PhraseSearch,
                        categoryId = Model.SearchConsoleViewModel.selectedCategory,

                    }))*@


            </div><!-- trending ads -->
        </div>
    </div>


</section>
<!-- Koniec tabeli z ofertami pracy -->
<section class="bgnd bgnd-3 js-parallax-bg">
    <div class="va-wrapper">
        <div class="va-container">
            <div class="container text-center">
                <h1>Lorem ipsum dolor</h1>
                <h2>Sed eget orci nec diam suscipit</h2>
                <h3>Donec fermentum justo in quam aliquet</h3>
            </div>
        </div>
    </div>
</section>

@section scripts
{
@Scripts.Render("~/bundles/homeIndex")
   <script type="text/javascript">
        $(function (){
            $("#cityInput").autocomplete({
                source : '@Url.Action("CitySuggest", "Home")'

            });
        });

    </script>

}
