@using Microsoft.Owin.Security
@using JobsPortal.Models 
@model JobsPortal.ViewModels.CompanyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

@section cssStyles
    {
    @Styles.Render("~/Content/wyswigcss")
    @Styles.Render("~/Content/deleteConfirm")
}

<section class=" job-bg page  ad-profile-page">
    <div class="container">      
        <div class="job-profile section">
            <div class="user-profile">
                <div class="user-images">
                    <img src="@Url.Content(Model.ApplicationUser.LogoPath)" alt="User Images" class="img-responsive">
                   
                </div>
              
                <div class="user">
                    <h2>Hello, @Model.ApplicationUser.CompanyName</h2>
                  
                    <h5>You last logged in at: @Model.ApplicationUser.LastLoginDate</h5>
                </div>

               
            </div><!-- user-profile -->

            <ul class="user-menu">
                <li>@Html.ActionLink("Aktualne oferty", "CompanyDetails", "Account")</li>
                <li>@Html.ActionLink("Archiwum", "ArchiveJobsOffer", "Account")</li>
                <li>@Html.ActionLink("Profil firmy","CompanyDescription", "Account")</li>
                <li>@Html.ActionLink("Ustawienia", "ChangePassword", "Account")</li>
               <!-- <li><a href="bookmark.html">Bookmark</a></li>
                <li><a href="applied-job.html">applied job</a></li>
                <li><a href="delete-account.html">Close account</a></li>-->
            </ul>
        </div><!-- ad-profile -->            
<!--
    <div class="resume-content">
            <div class="profile section clearfix">
                <div class="profile-logo">
                    <img class="img-responsive" src="images/job/resume.jpg" alt="Image">
                </div>
                <div class="profile-info">
                    <h1>Jhon Doe</h1>
                    <address>
                        <p>Address: 123 West 12th Street, Suite 456 New York, NY 123456 <br> Phone: +012 345 678 910 <br> Email:<a href="#"> itsmesurzilegeek.com</a></p>
                    </address>
                </div>
              </div>
        </div>
    -->



        @RenderSection("CompanyMenu", required: true)

        </div>
</section>   


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/wyswigjs")
    @Scripts.Render("~/bundles/deleteConfirm")
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">



        $('.demo').bootstrap_confirm_delete({
            heading: 'Usunąć Ofertę',            
            message: 'Czy napewno chcesz usunąć ofertę ? ',
            data_type: null,
        });



        $(function() {
            $("#DateFrom").datepicker({
                dateFormat: "dd-mm-yyyy"
            });


        });

        $('#Requaierments').wysihtml5();
        $('#Descriptions').wysihtml5();


        var _URL = window.URL || window.webkitURL;

        $("#file").change(function (e) {
            var file, img;


            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function () {
                    alert(this.width + " " + this.height);
                    if (this.width > 400 || this.height > 400 )
                    {
                        alert("image could't be bigger then 400px X 400px");
                        $('#ImgSendButton').attr("disabled", true);
                    }
                    else
                    {
                        $('#ImgSendButton').attr("disabled", false);
                    }
                };
              
                img.src = _URL.createObjectURL(file);


            }

        }); 


    </script>
}

          