@model IEnumerable<JobsPortal.Models.JobOfferViewModel>

@{
    ViewBag.Title = "Home Page";
}
@section HomeSlider
{
    <header>        
        <!-- Wrapper for slides -->
        <div class="banner-job">
            <div class="banner-overlay"></div>
            <div class="container text-center">
                <h1 class="title">The Easiest Way to Get Your New Job</h1>
                <h3>We offer 12000 jobs vacation right now</h3>
                <div class="banner-form">
                    <form action="#">
                      <!--  <input id="mainSearch" type="text" class="form-control" placeholder="Type your key word">-->
                        @Html.TextBox("search",null,new { id = "mainSearch" } )

                        <div class="dropdown category-dropdown">
                            <a data-toggle="dropdown" href="#"><span class="change-text">Job Location</span> <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu category-change">
                                <li><a href="#">Location 1</a></li>
                                <li><a href="#">Location 2</a></li>
                                <li><a href="#">Location 3</a></li>
                            </ul>
                        </div><!-- category-change -->
                        <button type="submit" class="btn btn-primary" value="Search">Search</button>
                    </form>
                </div><!-- banner-form -->

                <ul class="banner-socail list-inline">
                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                </ul><!-- banner-socail -->
            </div><!-- container -->
        </div><!-- banner-section -->
        <!-- Controls -->       
    </header>
}

<div class="container text-center">
    <div class="col-lg-12">
        <h1 class="page-header">
            Welcome to Modern Business
        </h1>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--paralax -->

<section class="bgnd bgnd-2 js-parallax-bg">
    <div class="va-wrapper">
        <div class="va-container">
            <div class="container text-center">
                <h1>Lorem ipsum dolor</h1>
                <h2>Sed eget orci nec diam suscipit</h2>
                <h3>Donec fermentum justo in quam aliquet</h3>
            </div>
        </div>
    </div>
</section>
<!-- Tabela z ofertami pracy -->
<section class="content">
    <div class="container">
    <div class="section latest-jobs-ads">
        <div class="section-title tab-manu">
            <h4>Latest Jobs</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#hot-jobs" data-toggle="tab">Hot Jobs</a></li>
                <li role="presentation"><a href="#recent-jobs" data-toggle="tab">Recent Jobs</a></li>
                <li role="presentation" class="active"><a href="#popular-jobs" data-toggle="tab">Popular Jobs</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in" id="hot-jobs">

            @foreach(var item in Model)
            {
                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class= title>@item.Title</a><a href="#">@item.Company</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>@item.City, @item.Country </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>@item.SalaryMin - @item.SalaryMax</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>@item.Category</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                           @Html.ActionLink("Aplikuj", "Details", "JobOffer", new {id = item.Id}, new { @class = "btn btn-primary" })
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            }
                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class= title>CTO</a>  <a href="#">Volja Events & Entertainment</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/1.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Project Manager</a> <a href="#">Dominos Pizza</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/2.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Graphics Designer</a>  <a href="#">AOK Security</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/4.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Human Resource Manager</a>  <a href="#">Dropbox Inc</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            </div><!-- tab-pane -->

            <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/2.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class= title>Graphics Designer</a> <a href="#">AOK Security</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/1.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class= title>Project Manager</a> <a href="#">Dominos Pizza</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/4.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Human Resource Manager</a>  <a href="#">Dropbox Inc</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">CTO</a>  <a href="#">Volja Events & Entertainment</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            </div><!-- tab-pane -->

            <div role="tabpanel" class="tab-pane fade in active" id="popular-jobs">
                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/1.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Project Manager</a> <a href="#">Dominos Pizza</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/2.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Graphics Designer</a>  <a href="#">AOK Security</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/3.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">CTO</a>  <a href="#">Volja Events & Entertainment</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="images/job/4.png" alt="Image" class="img-responsive"></a>
                            </div><!-- item-image -->
                        </div>

                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Human Resource Manager</a><a href="#">Dropbox Inc</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
                                </ul>
                            </div><!-- ad-meta -->
                        </div><!-- ad-info -->
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div><!-- item-info -->
                </div><!-- ad-item -->
            </div><!-- tab-pane -->
        </div><!-- tab-content -->
    </div><!-- trending ads -->	
    </div>
</section>
<!-- Koniec tabeli z ofertami pracy -->
<section class="bgnd bgnd-3 js-parallax-bg">
    <div class="va-wrapper">
        <div class="va-container">
            <div class="container text-center">
                <h1>Lorem ipsum dolor</h1>
                <h2>Sed eget orci nec diam suscipit</h2>
                <h3>Donec fermentum justo in quam aliquet</h3>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Najnowsze wpisy na blogu</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Tytuł wpisu 1.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-md-4">
                <h3>Tytuł wpisu 2.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-md-4">
                <h3>Tytuł wpisu 3.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-md-4">
                <h3>Tytuł wpisu 4.</h3>
                <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-md-4">
                <h3>Tytuł wpisu 5.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-md-4">
                <h3>Tytuł wpisu 6.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>
    </div>
</section>

<!--end parallax-->
@section scripts
{
    <script src="../../Scripts/gator.min.js"></script>
    <script src="../../Scripts/parallaxbg.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript">
        $(function (){
            $("#mainSearch").autocomplete({
                source : '@Url.Action("MainSearch", "Home")'

            });
        });



       

    $('.carousel').carousel({
        interval: 5000 //changes the speed

    })
    ParallaxBG.init();
    </script>

}